* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  outline: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccd2d8;
}
.header {
  background-color: #fefefe;
}
.header__navbar ul {
  list-style-type: none;
  display: flex;
}
.header__navbar li {
  transition: 1s ease-in-out;
}
.header__navbar li:hover {
  border-bottom: 1px solid #c5c1c1;
}
.header__navbar a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: black;
}
.header__basket p {
  font-weight: bold;
}
.header__account-menu button {
  border-radius: 25px;
  border: 1px solid #c5c1c1;
  background-color: #fefefe;
  letter-spacing: 0.1em;
}
.h-line {
  padding-top: 3em;
  border-bottom: 1px solid #c5c1c1;
}
.submenu__sub-nav ul {
  display: flex;
  list-style-type: none;
}
.submenu__sub-nav a {
  font-size: 0.8em;
  font-weight: bold;
  color: #c5c1c1;
  text-decoration: none;
  transition: 0.5s ease;
}
.submenu__sub-nav a:hover {
  color: black;
  transform: scale(1.1);
}
.submenu__sup-search input {
  border: none;
  font-size: 1em;
}
.submenu__sup-search h3 {
  font-size: 0.95em;
  color: #c5c1c1;
}
.submenu__sup-search a,
.submenu h3 {
  text-decoration: none;
  transition: 0.5s ease;
}
.submenu__sup-search h3:hover {
  color: black;
  transform: scale(1.1);
}
.main__prev:hover,
.main__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.main__prev,
.main__next {
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #807d7d;
}
.main__fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.main__dot {
  background-color: #fefefe;
}
.main__Slides button {
  border: none;
  padding: 20px 50px;
  font-weight: bold;
  font-size: 1em;
  background-color: rgba(115, 219, 219, 0.8);
  cursor: pointer;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__head-container {
  position: relative;
  margin: 0 auto;
  padding: 0px 10px;
  max-width: 1170px;
}
.header__body {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}
.header__head-logo {
  font-size: 1.5em;
}
.header__navbar ul {
  padding-top: 0.5em;
}
.header__navbar a {
  margin-left: 1.5em;
}
.header__basket {
  display: flex;
  padding-top: 0.5em;
}
.header__basket p {
  margin-left: 0.5em;
}
.header__account-menu {
  margin-left: 4em;
}
.header__account-menu button {
  padding: 10px 15px;
}
.header__user-place {
  display: flex;
}
.submenu {
  width: 100%;
  top: 0;
  left: 0;
}
.submenu__sub-line {
  position: relative;
  margin: 0 auto;
  max-width: 1170px;
}
.submenu__sub-body {
  padding: 1em;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}
.submenu__sup-search {
  display: flex;
}
.submenu__sub-nav a:nth-child(2) {
  margin-left: 6em;
}
.submenu__sub-nav a:nth-child(3) {
  margin-left: 6em;
}
.submenu__sub-nav a:nth-child(4) {
  margin-left: 6em;
}
.submenu__btn-inp {
  margin-left: 5em;
}
.submenu__btn-inp input {
  margin-left: 0.8em;
}
.main__Slides button {
  position: absolute;
  top: 80%;
  left: 20%;
}
.main__slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
}
.main__prev,
.main__next {
  position: absolute;
  cursor: pointer;
  margin-top: -22px;
  padding: 10px 18px;
  transition: 0.6s ease;
}
.main__next {
  right: 0;
}
.main__prev:hover,
.main__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.main__dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6 ease;
  margin-top: -44px;
}
.main__dot:nth-child(2) {
  margin-left: 0.8em;
}
.main__dot:nth-child(3) {
  margin-left: 0.8em;
}
.main__dots {
  display: flex;
}
.main__section-dot {
  display: flex;
  justify-content: center;
}
.main__line-arrows {
  padding: 10px;
  position: absolute;
  width: 1170px;
  top: 55%;
  margin-top: -22px;
  margin-left: 17em;
  display: flex;
  justify-content: right;
}
