* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "../css.less/style.less";
@import "../css.less/adaptive.less";


.header { 
    padding-top: 1em;
    position: fixed;  
    width:100%;
    top:0;
    left:0;
    z-index: 50;
    &__head-container {
        position: relative;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0px 10px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
    }
    &__head-logo {
        font-size: 1.5em;
    }
}