* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "../css.less/style.less";
@import "../css.less/adaptive.less";


.header { 
    position: fixed;  
    width:100%;
    top:0;
    left:0;
    z-index: 50;
    &__head-container {
        position: relative;
        margin: 0 auto;
        padding: 0px 10px;
        max-width: 1170px;
    }
    &__body {
        padding-top: 2em;
        display: flex;
        justify-content: space-between;
    }
    &__head-logo {
        font-size: 1.5em;
    }
    &__navbar ul {
        padding-top: 0.5em;
    }
    &__navbar a {
        margin-left:1.5em;
    }
    &__basket {
        display: flex;
        padding-top: 0.5em;
    }
    &__basket p {
        margin-left: 0.5em;
    }
    &__account-menu {
        margin-left: 4em;
    }
    &__account-menu button {
        padding: 10px 15px;
    }
    &__user-place {
        display: flex;
    }
}

.submenu {
    width: 100%;
    top: 0; 
    left: 0;
    &__sub-line {
        position: relative;
        margin: 0 auto;
        max-width: 1170px;
    }
    &__sub-body {
        padding: 1em;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
    }
    &__sup-search { 
        display: flex;
    }
    &__sub-nav a:nth-child(2) {
        margin-left: 6em;
    }
    &__sub-nav a:nth-child(3) {
        margin-left: 6em;
    }
    &__sub-nav a:nth-child(4) {
        margin-left: 6em;
    }  
    &__btn-inp {
        margin-left: 5em;
    }
    &__btn-inp input {
        margin-left: 0.8em;
    }

}

.main {
    &__Slides button {
        position: absolute;
        top: 80%;
        left: 20%;
    }
    &__slideshow-container {
        max-width: 2000px;
        position: relative;
        margin: auto;
    }
    &__prev, &__next {
        position: absolute;
        cursor: pointer;
        margin-top: -22px;
        padding: 10px 18px;
        transition: 0.6s ease;
    }

    &__next {
        right: 0;
    }
    &__prev:hover , &__next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    &__dot{
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6 ease;
        margin-top: -44px;   
    }
    &__dot:nth-child(2){
        margin-left: 0.8em;
    }
    &__dot:nth-child(3){
        margin-left: 0.8em;
    }
    
    &__dots {
        display: flex;
    }
    &__section-dot {
        display: flex;
        justify-content: center;
    }
    &__line-arrows {
        padding: 10px;
        position: absolute;
        width:1170px;
        top: 55%;
        margin-top: -22px;
        margin-left: 17em;
        display: flex;
        justify-content:right;
    }
}
