input {
  outline: none;
}
select {
  outline: none;
}
option {
  outline: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccd2d8;
}
.header {
  background-color: #fefefe;
}
.header__navbar ul {
  list-style-type: none;
  display: flex;
}
.header__navbar li {
  transition: 1s ease-in-out;
}
.header__navbar li:hover {
  border-bottom: 1px solid #c5c1c1;
}
.header__navbar a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: black;
}
.header__basket p {
  font-weight: bold;
}
.header__account-menu button {
  border-radius: 25px;
  border: 1px solid #c5c1c1;
  background-color: #fefefe;
  letter-spacing: 0.1em;
}
.h-line {
  padding-top: 3em;
  border-bottom: 1px solid #c5c1c1;
}
.submenu__sub-nav ul {
  display: flex;
  list-style-type: none;
}
.submenu__sub-nav a {
  font-size: 0.8em;
  font-weight: bold;
  color: #c5c1c1;
  text-decoration: none;
  transition: 0.5s ease;
}
.submenu__sub-nav a:hover {
  color: black;
  transform: scale(1.1);
}
.submenu__sup-search input {
  border: none;
  font-size: 1em;
}
.submenu__sup-search h3 {
  font-size: 0.95em;
  color: #c5c1c1;
}
.submenu__sup-search a,
.submenu h3 {
  text-decoration: none;
  transition: 0.5s ease;
}
.submenu__sup-search h3:hover {
  color: black;
  transform: scale(1.1);
}
.main__prev:hover,
.main__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.main__prev,
.main__next {
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #807d7d;
}
.main__fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.main__dot {
  background-color: #fefefe;
  border: 1px solid #807d7d;
}
.main__Slides button {
  border: none;
  padding: 20px 50px;
  font-weight: bold;
  font-size: 1em;
  background-color: rgba(115, 219, 219, 0.8);
  cursor: pointer;
}
.filter__filter-content {
  background-color: white;
  border-radius: 10px;
}
.filter__selector select {
  border: none;
  font-size: 0.8em;
  font-weight: bold;
}
.filter__selector option {
  border: none;
  font-size: 1em;
  font-weight: bold;
}
.filter__selector option:hover {
  border: none;
}
.filter__selector h3 {
  font-size: 0.8em;
  color: grey;
}
.filter__selector select:hover {
  border: none;
}
.filter__line {
  border-right: 1px solid grey;
}
.filter__keywords-srch input {
  border: none;
  padding: 0;
  background-color: rgba(211, 203, 203, 0.8);
  width: 7em;
  padding: 0.8em 0.4em;
  border-radius: 25px;
}
.filter__keywords-srch h3 {
  font-size: 0.8em;
  color: grey;
}
.filter__price-filter h3 {
  font-size: 0.8em;
  color: grey;
}
.filter__price-filter input:nth-child(2) {
  border: none;
  padding: 0;
  background-color: rgba(211, 203, 203, 0.8);
  width: 4em;
  padding: 0.8em 0.4em;
  border-radius: 25px;
}
.filter__price-filter input:nth-child(4) {
  border: none;
  padding: 0;
  background-color: rgba(211, 203, 203, 0.8);
  width: 4em;
  padding: 0.8em 0.4em;
  border-radius: 25px;
}
.filter__btn-filter label {
  font-weight: bold;
  font-size: 1em;
  color: black;
}
.filter__country-filter h3 {
  font-size: 0.9em;
  color: #aaa2a2;
}
.filter__country-filter select {
  border: none;
  font-size: 0.8em;
  font-weight: bold;
}
.filter__country-filter select:hover {
  border: none;
}
.filter__country-filter option {
  border: none;
  font-size: 1em;
  font-weight: bold;
}
.filter__country-filter option:hover {
  border: none;
}
.filter__btn-filter input {
  border-radius: 50%;
  background-color: green;
  border: none;
}
.staff-section__block-product1 {
  background-color: #fefefe;
}
.staff-section__block-product2 {
  background-color: #fefefe;
}
.staff-section__block-product3 {
  background-color: #fefefe;
}
.staff-section__block-product4 {
  background-color: #fefefe;
  border-radius: 0.25em;
}
.staff-section__p-border {
  border: 1px solid grey;
  border-radius: 25px;
}
.product-section__sub-filter {
  background-color: white;
}
.submenu-1__menu-btn {
  background: white;
  color: black;
}
.submenu-1__menu-btn::before {
  background: white;
}
.submenu-1__menu-item__sub {
  background: white;
}
.submenu-1__menu-item__sub a {
  color: grey;
  border-top: 1px solid grey;
  background-color: #eeeded;
}
.sub-filter__sub-avail {
  border-bottom: 1px solid #96969b;
}
.sub-filter__sub-input {
  border-bottom: 1px solid #96969b;
}
.sub-filter__sub-brands {
  border-bottom: 1px solid #96969b;
}
.submenu-3__sub-filter2 {
  background-color: white;
}
.submenu-3__condition-block {
  border-bottom: 1px solid #96969b;
}
.submenu-4__sub-filter3 {
  background-color: white;
}
.submenu-4__delievery {
  border-bottom: 1px solid #96969b;
}
.pag-rew__block-pages {
  background: white;
}
.pag-rew__page-num a:hover {
  position: static;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: grey;
}
.pag-rew__block-best {
  background: white;
}
.pag-rew__old-price {
  text-decoration: line-through;
  color: grey;
}
.pag-rew__b-sell_1 {
  border-right: 1px solid #96969b;
  border-top: 1px solid #96969b;
}
.pag-rew__b-sell_2 {
  border-top: 1px solid #96969b;
}
.footer {
  background-color: #222328;
}
.footer__bi-block {
  border-bottom: 1px solid black;
}
.footer__bi-list li {
  color: aliceblue;
}
.footer__bi-site_name h3 {
  color: white;
}
.footer__pol-text {
  color: white;
}
.footer__pol-btn h4 {
  color: white;
}
.reviews__bg-block {
  background-color: #ffffff;
}
