@primary : #fefefe;
@secondary : black;


body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    &__navbar ul {
        list-style-type: none;
        display: flex;
    }
    &__navbar a {
        margin-left:1em;
    }
}